:root {
  --gridSize: 5;
}
html{
  height: 100%;
  width: 100%;
  background-color: grey;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(var(--gridSize),30px);
  grid-template-rows: repeat(var(--gridSize),30px);
  gap:2px;
}
.gridElement {
  background-color: aqua;
  border: black;
}